# Предсказание поведения пользователей в маркетплейсе

# <span style='color:RoyalBlue'>Описание проекта</span>

<span style='font-size:18px'>

Интернет-магазин собирает историю покупателей, проводит рассылки предложений и
планирует будущие продажи. Для оптимизации процессов надо выделить пользователей,
которые готовы совершить покупку в ближайшее время.

# <span style='color:RoyalBlue'>Цели иследования</span>

<span style='font-size:18px'>
- Предсказать вероятность покупки в течение 90 дней.

# <span style='color:RoyalBlue'>Описание данных</span>

<span style="font-size: 18px;">**Фаил даннных для иследования: `apparel-purchases.csv` со следующими колонками:**</span>

- <span style='color:red'>**client_id**</span> — идентификатор клиента;
- <span style='color:blue'>**quantity**</span> — количество единиц товара;
- <span style='color:blue'>**price**</span> — цена товара;
- <span style='color:red'>**category_ids**</span> — идентификаторы категорий;
- <span style='color:blue'>**date**</span> — дата покупки;
- <span style='color:red'>**message_id**</span> — идентификатор сообщения из рассылки.
<span style='font-size:18px'>
Данные о покупках клиентов по дням и по товарам. В каждой записи покупка
определенного товара, его цена, количество штук.

В таблице есть списки идентификаторов, к каким категориям относится товар. Часто
это вложенные категории (например автотовары-аксессуары-освежители), но также может
включать в начале списка маркер распродажи или маркер женщинам/мужчинам.

Нумерация категорий сквозная для всех уровней, то есть 44 на второй позиции списка
или на третьей – это одна и та же категория. Иногда дерево категорий обновляется, поэтому
могут меняться вложенности, например ['4', '28', '44', '1594'] или ['4', '44', '1594']. Как
обработать такие случаи – можете предлагать свои варианты решения.

<span style="font-size: 18px;">**Фаил даннных для иследования: `apparel-messages.csv` со следующими колонками:**</span>

- <span style='color:red'>**bulk_campaign_id**</span> — идентификатор рассылки;
- <span style='color:red'>**client_id**</span> — идентификатор клиента;
- <span style='color:red'>**message_id**</span> — идентификатор сообщения;
- <span style='color:blue'>**event**</span> — действие с сообщением (отправлено, открыто, покупка…);
- <span style='color:blue'>**channel**</span> — канал рассылки;
- <span style='color:blue'>**date**</span> — дата действия;
- <span style='color:blue'>**created_at**</span> — дата-время полностью;
<span style='font-size:18px'>
Рассылки, которые были отправлены клиентам из таблицы покупок.

<span style="font-size: 18px;">**Фаил даннных для иследования: `apparel-target_binary.csv` со следующими колонками:**</span>

- <span style='color:red'>**client_id**</span> — идентификатор клиента;
- <span style='color:green'>**target**</span> — клиент совершил покупку в целевом периоде.

<span style="font-size: 18px;">**Фаил даннных для иследования: `full_campaign_daily_event.csv` со следующими колонками:**</span>

- <span style='color:blue'>**date**</span> — дата;
- <span style='color:red'>**bulk_campaign_id**</span> — идентификатор рассылки;
- <span style='color:blue'>**count_event<span style='color:red'>*</span>**</span> — общее количество каждого события event;
- <span style='color:blue'>**nunique_event<span style='color:red'>*</span>**</span> — количество уникальных client_id в каждом событии.
<span style='font-size:18px'>
<span style='color:red'>*</span><b>в именах колонок найдете все типы событий event</b>

Агрегация общей базы рассылок по дням и типам событий

<span style="font-size: 18px;">**Фаил даннных для иследования: `full_campaign_daily_event_channel.csv` со следующими колонками:**</span>

- <span style='color:blue'>**date**</span> — дата;
- <span style='color:red'>**bulk_campaign_id**</span> — идентификатор рассылки;
- <span style='color:blue'>**count_event*_channel<span style='color:red'>*</span>**</span> — общее количество каждого события по каналам;
- <span style='color:blue'>**nunique_event*_channel<span style='color:red'>*</span>**</span> — количество уникальных client_id по событиям и каналам.
<span style='font-size:18px'>
<span style='color:red'>*</span><b>в именах колонок есть все типы событий event и каналов рассылки channel</b>

Агрегация по дням с учетом событий и каналов рассылки

# <span style='color:RoyalBlue'>Содержание</span>

- <span style='font-size: 18px;color: RoyalBlue'>Описание проекта</span>
- <span style='font-size: 18px;color: RoyalBlue'>Цели иследования</span>
- <span style='font-size: 18px;color: RoyalBlue'>Описание данных</span>
- <span style='font-size: 18px;color: RoyalBlue'>Содержание</span>
- <span style='font-size: 18px;color: Blue'>1. Подгруска необходимых модулей и настройка необходимых констант</span>
- <span style='font-size: 18px;color: Blue'>2. Загрузка данных</span>
- <span style='font-size: 18px;color: Blue'>3. Предобработка данных</span>
- <span style='font-size: 18px;color: Blue'>4. Исследовательский анализ данных</span>
- <span style='font-size: 18px;color: Blue'>5. Разработка полезных признаков
- <span style='font-size: 18px;color: Blue'>6. Корреляционный анализ</span>
- <span style='font-size: 18px;color: Blue'>7. Подготовьте выборки для обучения моделей</span>
- <span style='font-size: 18px;color: Blue'>8. Разработка улучшения Обучения моделей</span>
- <span style='font-size: 18px;color: Blue'>9. Проанализируйте проведёное тестирование</span>
- <span style='font-size: 18px;color: RoyalBlue'>Итоговые выводы</span>

## <span style='color:Blue'>Шаг. Подгруска необходимых модулей и настройка необходимых констант</span>

In [1]:
# Тихая установка нужных библиотек

#!pip install matplotlib==3.9.4 -q
#!pip install pandas==2.2.3 -q
#!pip install seaborn==0.13.2 -q
#!pip install numpy==1.23.0 -q
#!pip install numba==0.60.0 -q
#!pip install llvmlite==0.43.0 -q
#!pip install shap==0.44.0 -q
#!pip install phik==0.12.4 -q
#!pip install pyarrow==10.0.1 -q
#!pip install scikit-learn==1.6.1 -q
#!pip install sklearn-compat==0.1.4 -q
#!pip install imbalanced-learn==0.12.4 -q
#!pip install catboost==1.2.8 -q
#!pip install lightgbm==4.6.0 -q
#!pip install jinja2==3.1.2 -q
#!pip install wordcloud==1.9.4 -q
#!pip install Pillow==9.5.0 -q

#!pip freeze

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import (
    train_test_split,
    RandomizedSearchCV,
)
from sklearn.preprocessing import (
    OneHotEncoder,
    StandardScaler,
    MinMaxScaler,
    RobustScaler,
)
from sklearn.tree import  DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from scipy.stats import randint, uniform
from warnings import simplefilter

import phik
from wordcloud import WordCloud

In [3]:
# Вывод ошибок
simplefilter(action='ignore', category=FutureWarning)
# Настройки numpy
np.seterr(divide = 'ignore');
# Настройки pandas
pd.options.mode.chained_assignment = None
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
# Создадим константы
RANDOM_STATE = 12345
TEST_SIZE = 0.25

In [5]:
# Общий путь к папккам
folder_location = './datasets/'

## <span style='color:Blue'> Шаг. Загрузка данных</span>

**Задача 2.1. Создание финкции вывода первичной информации.**

In [6]:
def primary_information_output(dataset):
    # Функция вывод первичной информации
    dataset.info()
    print('Количество пропущеных значений:')
    display(dataset.isna().sum())
    text = 'Количество полных дублированых строк в дата фрейме'
    print(f'{text} = {dataset.duplicated().sum()}')
    display(dataset.head())

**Задача 2.2. Загруска данных из `apparel-purchases.csv` и первое знакомство с датафрейм <span style='color:red'>ap</span>.**

In [7]:
# Прочитываю csv-файл
ap = pd.read_csv(
    f'{folder_location}apparel-purchases.csv',
    sep=',',
    parse_dates=['date',]
)

In [8]:
# Показываю информацию о дата сете
primary_information_output(ap)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202208 entries, 0 to 202207
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     202208 non-null  int64
 1   quantity      202208 non-null  int64
 2   price         202208 non-null  float64
 3   category_ids  202208 non-null  object
 4   date          202208 non-null  datetime64[ns]
 5   message_id    202208 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 9.3+ MB
Количество пропущеных значений:

client_id       0
quantity        0
price           0
category_ids    0
date            0
message_id      0
dtype: int64

Количество полных дублированых строк в дата фрейме = 73020

,client_id,quantity,price,category_ids,date,message_id
0,1515915625468169594,1,"1,999.00","['4', '28', '57', '431']",2022-05-16,1515915625468169594-4301-627b661e9736d
1,1515915625468169594,1,"2,499.00","['4', '28', '57', '431']",2022-05-16,1515915625468169594-4301-627b661e9736d
2,1515915625471138230,1,"6,499.00","['4', '28', '57', '431']",2022-05-16,1515915625471138230-4437-6282242f27843
3,1515915625471138230,1,"4,999.00","['4', '28', '244', '432']",2022-05-16,1515915625471138230-4437-6282242f27843
4,1515915625471138230,1,"4,999.00","['4', '28', '49', '413']",2022-05-16,1515915625471138230-4437-6282242f27843

**<span style='color:green'>Мини вывод:</span>**

- Хорошое наименование столбцов
- Присутствуют полные дубли
- Отсутствуют пропуски
- Типу соответствуют
- Столбец `message_id` имеет трёх группавую структуру через `-`. 1) - `client_id`  2) - `bulk_campaign_id` 3) - `<Индификатор сообщения>`

**Задача 2.3. Загруска данных из `apparel-messages.csv` и первое знакомство с датафрейм <span style='color:red'>am</span>.**

In [9]:
# Прочитываю csv-файл
am = pd.read_csv(
    f'{folder_location}apparel-messages.csv',
    sep=',',
    parse_dates=['date', 'created_at']
)

In [10]:
# Показываю информацию о дата сете
primary_information_output(am)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12739798 entries, 0 to 12739797
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   bulk_campaign_id  int64
 1   client_id         int64
 2   message_id        object
 3   event             object
 4   channel           object
 5   date              datetime64[ns]
 6   created_at        datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 680.4+ MB
Количество пропущеных значений:

bulk_campaign_id    0
client_id           0
message_id          0
event               0
channel             0
date                0
created_at          0
dtype: int64

Количество полных дублированых строк в дата фрейме = 48610

,bulk_campaign_id,client_id,message_id,event,channel,date,created_at
0,4439,1515915625626736623,1515915625626736623-4439-6283415ac07ea,open,email,2022-05-19,2022-05-19 00:14:20
1,4439,1515915625490086521,1515915625490086521-4439-62834150016dd,open,email,2022-05-19,2022-05-19 00:39:34
2,4439,1515915625553578558,1515915625553578558-4439-6283415b36b4f,open,email,2022-05-19,2022-05-19 00:51:49
3,4439,1515915625553578558,1515915625553578558-4439-6283415b36b4f,click,email,2022-05-19,2022-05-19 00:52:20
4,4439,1515915625471518311,1515915625471518311-4439-628341570c133,open,email,2022-05-19,2022-05-19 00:56:52

**<span style='color:green'>Мини вывод:</span>**

- Присутствуют Дубли
- Хорошее наименование
- Соответствуют типу данных
- Отсутствуют пропуски
- Столбец `message_id` имеет трёх группавую структуру через `-`. 1) - `client_id` 2) - `bulk_campaign_id` 3) - `<Индификатор сообщения>`

**Задача 2.4. Загруска данных из `apparel-target_binary.csv` и первое знакомство с датафрейм <span style='color:red'>atb</span>.**

In [11]:
# Прочитываю csv-файл
atb = pd.read_csv(
    f'{folder_location}apparel-target_binary.csv',
    sep=',',
)

In [12]:
# Показываю информацию о дата сете
primary_information_output(atb)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49849 entries, 0 to 49848
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  49849 non-null  int64
 1   target     49849 non-null  int64
dtypes: int64(2)
memory usage: 779.0 KB
Количество пропущеных значений:

client_id    0
target       0
dtype: int64

Количество полных дублированых строк в дата фрейме = 0

             client_id  target
0  1515915625468060902       0
1  1515915625468061003       1
2  1515915625468061099       0
3  1515915625468061100       0
4  1515915625468061170       0

**<span style='color:green'>Мини вывод:</span>**

- Отсутствуют полных дублей
- Хорошее наименование
- Не соответствуют типу данных `target` лучше будет тип bool
- Отсутствуют пропуски

**Задача 2.5. Загруска данных из `full_campaign_daily_event.csv` и первое знакомство с датафрейм <span style='color:red'>de</span>.**

In [13]:
# Прочитываю csv-файл
de = pd.read_csv(
    f'{folder_location}full_campaign_daily_event.csv',
    sep=',',
    parse_dates=['date',]
)

In [14]:
# Показываю информацию о дата сете
primary_information_output(de)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131072 entries, 0 to 131071
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   date                 131072 non-null  datetime64[ns]
 1   bulk_campaign_id     131072 non-null  int64
 2   count_click          131072 non-null  int64
 3   count_complain       131072 non-null  int64
 4   count_hard_bounce    131072 non-null  int64
 5   count_open           131072 non-null  int64
 6   count_purchase       131072 non-null  int64
 7   count_send           131072 non-null  int64
 8   count_soft_bounce    131072 non-null  int64
 9   count_subscribe      131072 non-null  int64
 10  count_unsubscribe    131072 non-null  int64
 11  nunique_click        131072 non-null  int64
 12  nunique_complain     131072 non-null  int64
 13  nunique_hard_bounce  131072 non-null  int64
 14  nunique_open         131072 non-null  int64
 15  nunique_purchase     131072 non-null  int64
 16  nunique_send         131072 non-null  int64
 17  nunique_soft_bounce  131072 non-null  int64
 18  nunique_subscribe    131072 non-null  int64
 19  nunique_unsubscribe  131072 non-null  int64
 20  count_hbq_spam       131072 non-null  int64
 21  nunique_hbq_spam     131072 non-null  int64
 22  count_close          131072 non-null  int64
 23  nunique_close        131072 non-null  int64
dtypes: datetime64[ns](1), int64(23)
memory usage: 24.0 MB
Количество пропущеных значений:

date                   0
bulk_campaign_id       0
count_click            0
count_complain         0
count_hard_bounce      0
count_open             0
count_purchase         0
count_send             0
count_soft_bounce      0
count_subscribe        0
count_unsubscribe      0
nunique_click          0
nunique_complain       0
nunique_hard_bounce    0
nunique_open           0
nunique_purchase       0
nunique_send           0
nunique_soft_bounce    0
nunique_subscribe      0
nunique_unsubscribe    0
count_hbq_spam         0
nunique_hbq_spam       0
count_close            0
nunique_close          0
dtype: int64

Количество полных дублированых строк в дата фрейме = 0

,date,bulk_campaign_id,count_click,count_complain,count_hard_bounce,count_open,count_purchase,count_send,count_soft_bounce,count_subscribe,...,nunique_open,nunique_purchase,nunique_send,nunique_soft_bounce,nunique_subscribe,nunique_unsubscribe,count_hbq_spam,nunique_hbq_spam,count_close,nunique_close
0,2022-05-19,563,0,0,0,4,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0
1,2022-05-19,577,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2022-05-19,622,0,0,0,2,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
3,2022-05-19,634,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,2022-05-19,676,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [15]:
# Проверка наименования
de.columns

Index(['date', 'bulk_campaign_id', 'count_click', 'count_complain',
       'count_hard_bounce', 'count_open', 'count_purchase', 'count_send',
       'count_soft_bounce', 'count_subscribe', 'count_unsubscribe',
       'nunique_click', 'nunique_complain', 'nunique_hard_bounce',
       'nunique_open', 'nunique_purchase', 'nunique_send',
       'nunique_soft_bounce', 'nunique_subscribe', 'nunique_unsubscribe',
       'count_hbq_spam', 'nunique_hbq_spam', 'count_close', 'nunique_close'],
      dtype='object')

**<span style='color:green'>Мини вывод:</span>**

- Отсутствуют полных дублей
- Хорошее наименование
- Сложно судить о типе данных нужно проверять каждый как его применять в дальше
- Отсутствуют пропуски

**Задача 2.6. Загруска данных из `full_campaign_daily_event_channel.csv` и первое знакомство с датафрейм <span style='color:red'>deс</span>.**

In [16]:
# Прочитываю csv-файл
dec = pd.read_csv(
    f'{folder_location}full_campaign_daily_event_channel.csv',
    sep=',',
    parse_dates=['date',]
)

In [17]:
# Показываю информацию о дата сете
primary_information_output(dec)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131072 entries, 0 to 131071
Data columns (total 36 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   date                             131072 non-null  datetime64[ns]
 1   bulk_campaign_id                 131072 non-null  int64
 2   count_click_email                131072 non-null  int64
 3   count_click_mobile_push          131072 non-null  int64
 4   count_open_email                 131072 non-null  int64
 5   count_open_mobile_push           131072 non-null  int64
 6   count_purchase_email             131072 non-null  int64
 7   count_purchase_mobile_push       131072 non-null  int64
 8   count_soft_bounce_email          131072 non-null  int64
 9   count_subscribe_email            131072 non-null  int64
 10  count_unsubscribe_email          131072 non-null  int64
 11  nunique_click_email              131072 non-null  int64
 12  nunique_click_mobile_push        131072 non-null  int64
 13  nunique_open_email               131072 non-null  int64
 14  nunique_open_mobile_push         131072 non-null  int64
 15  nunique_purchase_email           131072 non-null  int64
 16  nunique_purchase_mobile_push     131072 non-null  int64
 17  nunique_soft_bounce_email        131072 non-null  int64
 18  nunique_subscribe_email          131072 non-null  int64
 19  nunique_unsubscribe_email        131072 non-null  int64
 20  count_hard_bounce_mobile_push    131072 non-null  int64
 21  count_send_mobile_push           131072 non-null  int64
 22  nunique_hard_bounce_mobile_push  131072 non-null  int64
 23  nunique_send_mobile_push         131072 non-null  int64
 24  count_hard_bounce_email          131072 non-null  int64
 25  count_hbq_spam_email             131072 non-null  int64
 26  count_send_email                 131072 non-null  int64
 27  nunique_hard_bounce_email        131072 non-null  int64
 28  nunique_hbq_spam_email           131072 non-null  int64
 29  nunique_send_email               131072 non-null  int64
 30  count_soft_bounce_mobile_push    131072 non-null  int64
 31  nunique_soft_bounce_mobile_push  131072 non-null  int64
 32  count_complain_email             131072 non-null  int64
 33  nunique_complain_email           131072 non-null  int64
 34  count_close_mobile_push          131072 non-null  int64
 35  nunique_close_mobile_push        131072 non-null  int64
dtypes: datetime64[ns](1), int64(35)
memory usage: 36.0 MB
Количество пропущеных значений:

date                               0
bulk_campaign_id                   0
count_click_email                  0
count_click_mobile_push            0
count_open_email                   0
count_open_mobile_push             0
count_purchase_email               0
count_purchase_mobile_push         0
count_soft_bounce_email            0
count_subscribe_email              0
count_unsubscribe_email            0
nunique_click_email                0
nunique_click_mobile_push          0
nunique_open_email                 0
nunique_open_mobile_push           0
nunique_purchase_email             0
nunique_purchase_mobile_push       0
nunique_soft_bounce_email          0
nunique_subscribe_email            0
nunique_unsubscribe_email          0
count_hard_bounce_mobile_push      0
count_send_mobile_push             0
nunique_hard_bounce_mobile_push    0
nunique_send_mobile_push           0
count_hard_bounce_email            0
count_hbq_spam_email               0
count_send_email                   0
nunique_hard_bounce_email          0
nunique_hbq_spam_email             0
nunique_send_email                 0
count_soft_bounce_mobile_push      0
nunique_soft_bounce_mobile_push    0
count_complain_email               0
nunique_complain_email             0
count_close_mobile_push            0
nunique_close_mobile_push          0
dtype: int64

Количество полных дублированых строк в дата фрейме = 0

,date,bulk_campaign_id,count_click_email,count_click_mobile_push,count_open_email,count_open_mobile_push,count_purchase_email,count_purchase_mobile_push,count_soft_bounce_email,count_subscribe_email,...,count_send_email,nunique_hard_bounce_email,nunique_hbq_spam_email,nunique_send_email,count_soft_bounce_mobile_push,nunique_soft_bounce_mobile_push,count_complain_email,nunique_complain_email,count_close_mobile_push,nunique_close_mobile_push
0,2022-05-19,563,0,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2022-05-19,577,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2022-05-19,622,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2022-05-19,634,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2022-05-19,676,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# Проверка наименования
dec.columns

Index(['date', 'bulk_campaign_id', 'count_click_email',
       'count_click_mobile_push', 'count_open_email', 'count_open_mobile_push',
       'count_purchase_email', 'count_purchase_mobile_push',
       'count_soft_bounce_email', 'count_subscribe_email',
       'count_unsubscribe_email', 'nunique_click_email',
       'nunique_click_mobile_push', 'nunique_open_email',
       'nunique_open_mobile_push', 'nunique_purchase_email',
       'nunique_purchase_mobile_push', 'nunique_soft_bounce_email',
       'nunique_subscribe_email', 'nunique_unsubscribe_email',
       'count_hard_bounce_mobile_push', 'count_send_mobile_push',
       'nunique_hard_bounce_mobile_push', 'nunique_send_mobile_push',
       'count_hard_bounce_email', 'count_hbq_spam_email', 'count_send_email',
       'nunique_hard_bounce_email', 'nunique_hbq_spam_email',
       'nunique_send_email', 'count_soft_bounce_mobile_push',
       'nunique_soft_bounce_mobile_push', 'count_complain_email',
       'nunique_complain_email', 'count_close_mobile_push',
       'nunique_close_mobile_push'],
      dtype='object')

**<span style='color:green'>Мини вывод:</span>**

- Отсутствуют полных дублей
- Хорошее наименование
- Сложно судить о типе данных нужно проверять каждый как его применять в дальше
- Отсутствуют пропуски

**<span style='color:Purple'>Вывод шага:</span>**

- Столбец `message_id` имеет трёх группавую структуру через `-`. 1) - `client_id`  2) - `bulk_campaign_id` 3) - `<Индификатор сообщения>`
- Есть дубли но эта скорей всего и за не полном представление всей таблицы
- Хорошее наименование солонок
- Разнообразных признаков очень много у датафреймов `de` и `dec`
- Отсутствуют пропуски
- Есть где можно поменять тип данных нужно расмотреть тчательнее

## <span style='color:Blue'> Шаг. Предобработка данных</span>

**Задача 3.1.1. Получение информации о датафрейме <span style='color:red'>ap</span>**

In [19]:
# Показываю информацию о дата сете
primary_information_output(ap)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202208 entries, 0 to 202207
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     202208 non-null  int64
 1   quantity      202208 non-null  int64
 2   price         202208 non-null  float64
 3   category_ids  202208 non-null  object
 4   date          202208 non-null  datetime64[ns]
 5   message_id    202208 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 9.3+ MB
Количество пропущеных значений:

client_id       0
quantity        0
price           0
category_ids    0
date            0
message_id      0
dtype: int64

Количество полных дублированых строк в дата фрейме = 73020

,client_id,quantity,price,category_ids,date,message_id
0,1515915625468169594,1,"1,999.00","['4', '28', '57', '431']",2022-05-16,1515915625468169594-4301-627b661e9736d
1,1515915625468169594,1,"2,499.00","['4', '28', '57', '431']",2022-05-16,1515915625468169594-4301-627b661e9736d
2,1515915625471138230,1,"6,499.00","['4', '28', '57', '431']",2022-05-16,1515915625471138230-4437-6282242f27843
3,1515915625471138230,1,"4,999.00","['4', '28', '244', '432']",2022-05-16,1515915625471138230-4437-6282242f27843
4,1515915625471138230,1,"4,999.00","['4', '28', '49', '413']",2022-05-16,1515915625471138230-4437-6282242f27843

**Задача 3.1.2. Анализ временых данных**

In [20]:
# Проверка что хранится в ячейках
ap[['date',]].describe()

                                date
count                         202208
mean   2023-03-17 02:49:35.739832064
min              2022-05-16 00:00:00
25%              2022-11-12 00:00:00
50%              2023-04-12 00:00:00
75%              2023-07-03 00:00:00
max              2024-02-16 00:00:00

**<span style='color:green'>Мини вывод:</span>**

-  Период данных с `2022.05.16` по `2024.02.16`

**Задача 3.1.3. Анализ количественные данные**

In [21]:
def table_describe_quantitative_values(dataset: object) -> object:
    # Вывод основныхз показателей количественных данных
    num_col_names = dataset.select_dtypes(['int', 'float']).columns.tolist()
    display(dataset[num_col_names].describe())

In [22]:
# Вывод основныхз показателей количественных данных
table_describe_quantitative_values(ap)

                         client_id   quantity      price
count                   202,208.00 202,208.00 202,208.00
mean  1,515,915,625,596,210,944.00       1.01   1,193.30
std                 145,945,755.93       0.18   1,342.25
min   1,515,915,625,468,060,928.00       1.00       1.00
25%   1,515,915,625,490,081,280.00       1.00     352.00
50%   1,515,915,625,557,177,088.00       1.00     987.00
75%   1,515,915,625,624,391,936.00       1.00   1,699.00
max   1,515,915,626,010,443,520.00      30.00  85,499.00

**<span style='color:green'>Мини вывод:</span>**

- Покупки в основном купленые по штуке
- Товар за `1рубль` Странно это ??? 1) Возможно скидка 2) Специальное выграшное предложение 3) Возможно ошибка

**Задача 3.1.4. Анализ категориальных данных**

In [23]:
def list_unique_values_categorical_features(dataset: object) -> str:
    # Выводит список уникальных значений категориальных признаков
    cat_col_names = dataset.select_dtypes(['object', 'bool']).columns.tolist()
    for col in cat_col_names:
        print('-Категория:------------------------------------------------')
        print(f"                       <{col}>")
        print('-----------------------------------------------------------')
        print(f"- Уникальные значения категории:")
        print(dataset[col].unique())
        print(f"- Количество значений по уникальности в категории:")
        print(dataset[col].value_counts())
        if dataset[col].isna().sum() > 0:
            print(f"- Пропущеных значений NAN:")
            print(f'Количество: {dataset[col].isna().sum()}')
            print(f'Доля пропущеных значений:  {dataset[col].isna().sum() / dataset.shape[0]:.2%}')
        print('-----------------------------------------------------------')

In [24]:
# Вывод уникальных значений категориальных признаков
list_unique_values_categorical_features(ap)

-Категория:------------------------------------------------
                       <category_ids>
-----------------------------------------------------------
- Уникальные значения категории:
["['4', '28', '57', '431']" "['4', '28', '244', '432']"
 "['4', '28', '49', '413']" "['2', '18', '258', '441']"
 "['2', '18', '341', '1311']" "['2', '18', '123', '451']"
 "['5562', '5631', '5549', '667']" "['5562', '5630', '5649', '678']"
 "['4', '27', '350', '1392']" "['4', '28', '44', '490']"
 "['2', '18', '267', '443']" "['4', '28', '213', '417']"
 "['5562', '5589', '5584', '1786']" "['5562', '5589', '5584', '1795']"
 "['5562', '5630', '5699', '550']" "['5562', '5634', '5579', '710']"
 "['5562', '5634', '5568', '957']" "['5562', '5634', '5693', '636']"
 "['2', '18', '344', '445']" "['4', '27', '353', '840']"
 "['4', '28', '343', '425']" "['4', '31', '326', '505']"
 "['4', '28', '260', '420']" "['5562', '5631', '5622', '560']"
 "['5562', '5631', '5549', '608']" "['4', '28', '290', '424']"
 "['2', '18', '212', '658']" "['4', '27', '142', '496']"
 "['4', '28', '213', '436']" "['4', '28', '275', '421']"
 "['4', '28', '340', '1312']" "['4', '28', '156', '416']"
 "['4', '27', '181', '464']" "['4', '27', '287', '510']"
 "['4', '31', '324', '466']" "['4', '28', '249', '615']"
 "['4', '27', '38', '481']" "['4', '28', '146', '548']"
 "['4', '1822', '1827', '1817']" "['4', '28', '275', '673']"
 "['4', '28', '124', '415']" "['4', '27', '84', '568']"
 "['4', '28', '275', '1305']" "['4', '27', '233', '462']"
 "['4', '27', '278', '586']" "['4', '5837', '5838', '5504']"
 "['2', '18', '212', '726']" "['5562', '5630', '5575', '681']"
 "['4', '28', '58', '434']" "['5562', '5630', '5649', '1582']"
 "['4', '28', '49', '684']" "['4', '27', '202', '701']"
 "['2', '17', '173', '1598']" "['5562', '5683', '5665', '1006']"
 "['5562', '5631', '5608', '561']" "['4', '29', '312', '934']"
 "['5562', '5630', '5607', '555']" "['4', '27', '287', '546']"
 "['4', '27', '287', '544']" "['4', '28', '44', '489']"
 "['4', '27', '278', '470']" "['5562', '5634', '5626', '572']"
 "['4', '27', '38', '478']" "['5562', '5536', '5537', '842']"
 "['5562', '5597', '5614', '1691']" "['4', '5837', '5838', '1848']"
 "['4', '5837', '5838', '5502']" "['4', '31', '324', '1431']"
 "['4', '31', '324', '879']" "['4', '28', '290', '422']"
 "['4', '28', '239', '418']" "['2', '17', '180', '465']"
 "['5562', '5630', '5677', '628']" "['5562', '5630', '5667', '551']"
 "['4', '28', '218', '652']" "['4', '27', '176', '524']"
 "['4', '5837', '5836', '1047']" "['4', '5837', '5836', '1167']"
 "['4', '5837', '5836', '1567']" "['5562', '5630', '5592', '676']"
 "['5562', '5633', '5612', '793']" "['4', '31', '329', '506']"
 "['5562', '5633', '5692', '637']" "['5562', '5633', '5550', '848']"
 "['4', '5837', '5838', '1565']" "['4', '28', '146', '1587']"
 "['4', '29', '313', '938']" "['4', '28', '343', '1602']"
 "['4', '28', '62', '656']" "['5562', '5536', '5714', '577']"
 "['5562', '5536', '5581', '602']" "['5562', '5631', '5622', '1367']"
 "['5562', '5631', '5648', '1583']" "['5562', '5599', '5553', '1080']"
 "['5562', '5589', '5610', '1637']" "['2', '18', '155', '439']"
 "['4', '5837', '5838', '1584']" "['2', '18', '243', '440']"
 "['2', '18', '258', '1590']" "['5562', '5683', '5665', '1007']"
 "['4', '1822', '1821', '1815']" "['2', '18', '267', '442']"
 "['2', '18', '267', '1330']" "['2', '18', '274', '450']"
 "['4', '29', '311', '928']" "['4', '5837', '5838', '5500']"
 "['4', '27', '38', '482']" "['4', '28', '156', '1586']"
 "['2', '17', '171', '475']" "['4', '5837', '5838', '5498']"
 "['5562', '5631', '5700', '448']" "['5562', '5631', '5549', '1831']"
 "['2', '17', '232', '463']" "['4', '28', '228', '1596']"
 "['2', '18', '267', '1597']" "['5562', '5536', '5658', '724']"
 "['4', '1822', '1824', '1847']" "['4', '29', '310', '500']"
 "['4', '28', '44', '1594']" "['4', '27', '1828', '1599']"
 "['5562', '5630', '5699', '1829']" "['2', '18', '258', '1562']"
 "['2', '18', '274', '446']" "['4', '28', '290', '1329']"
 "['5562', '5536', '5685', '727']" "['4', '31', '328', '567']"
 "['4', '5837', '5838', '1566']" "['4', '27', '1828', '1572']"
 "['5562', '5589', '5624', '1687']" "['4', '28', '260', '1570']"
 "['5562', '5631', '5593', '675']" "['4', '5837', '5838', '5503']"
 "['5562', '5589', '5661', '1806']" "['4', '28', '228', '435']"
 "['4', '28', '44', '428']" "['5562', '5683', '5556', '1052']"
 "['4', '5837', '5838', '5501']" "['5562', '5631', '5666', '563']"
 "['4', '27', '38', '480']" "['4', '28', '304', '423']"
 "['5562', '5633', '5627', '719']" "['4', '27', '278', '864']"
 "['4', '28', '290', '547']" "['5562', '5536', '5581', '601']"
 "['5562', '5633', '5646', '936']" "['4', '27', '138', '468']"
 "['5562', '5589', '5588', '1778']" "['5562', '5630', '5547', '552']"
 "['5562', '5632', '5603', '1360']" "['5562', '5633', '5569', '581']"
 "['5562', '5536', '5581', '930']" "['5562', '5634', '5570', '582']"
 "['5562', '5634', '5551', '691']" "['5562', '5633', '5644', '631']"
 "['5562', '5631', '5688', '564']" "['5562', '5536', '5581', '954']"
 "['5562', '5589', '5576', '1705']" "['5562', '5634', '5705', '1275']"
 "['5562', '5633', '5627', '573']" "['5562', '5632', '5552', '971']"
 "['5562', '5536', '5581', '1420']" "['5562', '5597', '5566', '913']"
 "['5562', '5633', '5611', '713']" "['5562', '5632', '5598', '824']"
 "['5562', '5558', '5618', '1088']" "['5562', '5634', '5674', '593']"
 "['2', '17', '137', '469']" "['5562', '5589', '5563', '1732']"
 "['5562', '5683', '5662', '1002']" "['5562', '5683', '5713', '1004']"
 "['5562', '5634', '5663', '592']" "['5562', '5632', '5564', '969']"
 "['5562', '5632', '5564', '1309']" "['5562', '5632', '5706', '1851']"
 "['5562', '5634', '5705', '1350']" "['5562', '5631', '5608', '1327']"
 "['5562', '5633', '5646', '638']" "['5562', '5633', '5625', '571']"
 "['5562', '5536', '5581', '1591']" "['5562', '5633', '5673', '594']"
 "['5562', '5634', '5682', '639']" "['5562', '5634', '5616', '1279']"
 "['2', '18', '61', '661']" "['4', '5837', '5838', '5720']"
 "['5562', '5630', '5687', '553']" "['5562', '5536', '5685', '570']"
 "['5562', '5631', '5648', '508']" "['5562', '5632', '5552', '836']"
 "['5562', '5632', '5603', '1343']" "['5562', '5634', '5650', '712']"
 "['5562', '5630', '5548', '1304']" "['4', '27', '1828', '1606']"
 "['5562', '5536', '5656', '614']" "['4', '1822', '1824', '1621']"
 "['4', '1822', '1824', '1624']" "['2', '18', '61', '660']"
 "['2', '18', '258', '1195']" "['4', '28', '58', '1560']"
 "['4', '1822', '1824', '1616']" "['4', '1822', '1821', '1816']"
 "['5562', '5634', '5682', '835']" "['5562', '5631', '5660', '611']"
 "['5562', '5536', '5581', '1421']" "['5562', '5633', '5545', '761']"
 "['5562', '5633', '5701', '702']" "['5562', '5633', '5578', '700']"
 "['4', '28', '44', '501']" "['5562', '5536', '5680', '575']"
 "['5562', '5633', '5646', '692']" "['4', '27', '108', '452']"
 "['5562', '5634', '5628', '574']" "['5562', '5630', '5548', '1328']"
 "['5562', '5633', '5550', '705']" "['5562', '5633', '5550', '927']"
 "['5562', '5633', '5578', '1353']" "['4', '27', '172', '474']"
 "['2', '18', '267', '1592']" "['4', '27', '38', '479']"
 "['4', '30', '315', '541']" "['5562', '5536', '5685', '857']"
 "['5562', '5632', '5598', '967']" "['5562', '5630', '5541', '685']"
 "['5562', '5632', '5546', '966']" "['5562', '5632', '5603', '1342']"
 "['2', '17', '330', '387', '467']" "['4', '5837', '5838', '5505']"
 "['2', '17', '198', '497']" "['2', '18', '155', '1325']"
 "['5562', '5630', '5607', '1326']" "['5562', '5536', '5680', '576']"
 "['5562', '5630', '5669', '606']" "['5562', '5633', '5615', '1281']"
 "['2', '18', '217', '662']" "['2', '18', '258', '1569']"
 "['4', '27', '353', '1799']" "['5562', '5633', '5545', '706']"
 "['5562', '5633', '5545', '755']" "['5562', '5597', '5583', '1426']"
 "['4', '5837', '5838', '1168']" "['5562', '5683', '5703', '1010']"
 "['5562', '5589', '5623', '1773']" "['5562', '5633', '5704', '1352']"
 "['5562', '5630', '5669', '668']" "['5562', '5630', '5699', '1306']"
 "['5562', '5536', '5685', '569']" "['4', '27', '176', '458']"
 "['5562', '5589', '5610', '1635']" "['4', '27', '181', '722']"
 "['4', '27', '278', '1556']" "['4', '27', '1828', '1603']"
 "['4', '29', '309', '1835']" "['5562', '5631', '5549', '666']"
 "['5562', '5630', '5541', '557']" "['5562', '5589', '5619', '1685']"
 "['5562', '5589', '5610', '1659']" "['2', '17', '173', '459']"
 "['5562', '5558', '5559', '1094']" "['4', '28', '254', '680']"
 "['2', '17', '1826', '1818']" "['4', '5837', '5838', '1585']"
 "['4', '27', '84', '456']" "['4', '27', '1828', '5804']"
 "['5562', '5536', '5537', '846']" "['4', '1822', '1824', '1618']"
 "['5562', '5589', '5584', '1783']" "['4', '29', '309', '939']"
 "['4', '28', '249', '616']" "['5562', '5597', '5696', '891']"
 "['5562', '5597', '5696', '894']" "['5562', '5597', '5642', '1220']"
 "['5562', '5633', '5600', '634']" "['4', '28', '260', '1194']"
 "['5562', '5631', '5688', '562']" "['4', '27', '176', '460']"
 "['5562', '5634', '5709', '958']" "['5562', '5683', '5703', '1009']"
 "['5562', '5589', '5576', '1681']" "['4', '5837', '5838', '5499']"
 "['5562', '5589', '5587', '1765']" "['5562', '5589', '5584', '1796']"
 "['5562', '5589', '5610', '1665']" "['5562', '5589', '5623', '1774']"
 "['4', '27', '138', '720']" "['5562', '5589', '5623', '1777']"
 "['5562', '5589', '5576', '1682']" "['5562', '5536', '5537', '843']"
 "['4', '29', '310', '1834']" "['4', '31', '324', '1432']"
 "['5562', '5630', '5699', '1200']" "['2', '17', '279', '5807']"
 "['5562', '5630', '5548', '665']" "['4', '27', '278', '472']"
 "['4', '27', '1828', '1604']" "['4', '27', '1828', '1605']"
 "['5562', '5597', '5696', '1418']" "['5562', '5630', '5659', '607']"
 "['5562', '5633', '5646', '699']" "['4', '27', '287', '509']"
 "['5562', '5589', '5661', '1805']" "['2', '17', '83', '5810']"
 "['4', '27', '84', '1595']" "['4', '27', '278', '1613']"
 "['5562', '5589', '5587', '1707']" "['5562', '5632', '5552', '1363']"
 "['5562', '5631', '5670', '612']" "['2', '17', '107', '453']"
 "['5562', '5558', '5635', '1012']" "['5562', '5630', '5548', '664']"
 "['5562', '5597', '5637', '905']" "['4', '28', '62', '657']"
 "['5562', '5589', '5587', '1699']" "['4', '28', '104', '429']"
 "['4', '28', '218', '653']" "['5562', '5633', '5704', '1283']"
 "['4', '28', '260', '1568']" "['2', '18', '212', '659']"
 "['5562', '5632', '5546', '965']" "['5562', '5632', '5603', '1359']"
 "['5562', '5589', '5587', '1701']" "['5562', '5589', '5587', '1702']"
 "['5562', '5589', '5587', '1700']" "['4', '28', '44', '430']"
 "['5562', '5631', '5549', '735']" "['4', '28', '63', '655']"
 "['5562', '5630', '5669', '670']" "['5562', '5631', '5670', '1399']"
 "['5562', '5631', '5549', '734']" "['1', '8', '280', '710']"
 "['2', '18', '217', '663']" "['5562', '5589', '5586', '1767']"
 "['4', '29', '312', '1576']" "['4', '27', '278', '644']"
 "['5562', '5630', '5687', '558']" "['5562', '5536', '5537', '844']"
 "['5562', '5536', '5581', '620']" "['5562', '5536', '5537', '841']"
 "['5562', '5683', '5695', '1378']" "['5562', '5630', '5669', '669']"
 "['4', '5837', '5836', '839']" "['5562', '5589', '5563', '1734']"
 "['2', '18', '258', '1561']" "['4', '27', '278', '476']"
 "['4', '27', '278', '471']" "['4', '27', '186', '527']"
 "['5562', '5632', '5546', '1335']" "['5562', '5632', '5577', '1338']"
 "['5562', '5589', '5624', '1686']" "['4', '29', '339', '1559']"
 "['5562', '5589', '5586', '1766']" "['5562', '5631', '5593', '1308']"
 "['5562', '5589', '5610', '1636']" "['5562', '5589', '5624', '1697']"
 "['5562', '5589', '5610', '1639']" "['5562', '5597', '5565', '1214']"
 "['5562', '5589', '5613', '1715']" "['5562', '5589', '5586', '1771']"
 "['5562', '5589', '5588', '1782']" "['5562', '5589', '5686', '1670']"
 "['4', '27', '176', '520']" "['4', '28', '44', '1571']"
 "['5562', '5589', '5586', '1769']" "['5562', '5632', '5546', '1344']"
 "['5562', '5683', '5695', '1014']" "['5562', '5631', '5549', '732']"
 "['4', '5837', '5838', '5835']" "['4', '1822', '1824', '1623']"
 "['5562', '5597', '5642', '887']" "['5562', '5597', '5566', '5519']"
 "['5562', '5697', '5591', '5755']" "['4', '31', '327', '507']"
 "['2', '17', '188', '525']" "['5562', '5589', '5686', '1673']"
 "['5562', '5589', '5686', '1668']" "['5562', '5536', '5581', '792']"
 "['5562', '5630', '5669', '671']" "['4', '1822', '1823', '1820']"
 "['5562', '5633', '5625', '941']" "['5562', '5633', '5681', '591']"
 "['2', '17', '83', '519']" "['4', '28', '239', '1622']"
 "['4', '27', '176', '523']" "['5562', '5632', '5546', '1334']"
 "['5562', '5634', '5705', '595']" "['5562', '5634', '5551', '1277']"
 "['4', '27', '84', '515']" "['4', '27', '353', '1798']"
 "['4', '28', '44', '1593']" "['5562', '5597', '5629', '1419']"
 "['5562', '5589', '5563', '1684']" "['4', '1822', '1824', '1625']"
 "['4', '28', '44', '549']" "['4', '28', '44', '491']"
 "['4', '28', '44', '499']" "['4', '5837', '5836', '1601']"
 "['5562', '5589', '5613', '1729']" "['5562', '5597', '5540', '914']"
 "['5562', '5597', '5540', '915']" "['5562', '5536', '5714', '1588']"
 "['5562', '5630', '5548', '554']" "['5562', '5589', '5613', '1728']"
 "['4', '29', '309', '5796']" "['4', '5837', '5836', '1357']"
 "['4', '29', '312', '5508']" "['5562', '5632', '5598', '1294']"
 "['5562', '5589', '5605', '1710']" "['5562', '5634', '5705', '1366']"
 "['5562', '5634', '5682', '1839']" "['5562', '5683', '5572', '1314']"
 "['5562', '5589', '5563', '1807']" "['5562', '5589', '5624', '1689']"
 "['4', '29', '313', '1574']" "['5562', '5536', '5544', '854']"
 "['5562', '5683', '5703', '1008']" "['5562', '5597', '5696', '1429']"
 "['5562', '5599', '5539', '5950']" "['5562', '5599', '5539', '1076']"
 "['4', '27', '176', '522']" "['5562', '5599', '5539', '1075']"
 "['5562', '5536', '5537', '845']" "['4', '28', '63', '654']"
 "['5562', '5630', '5548', '1368']" "['2', '18', '248', '449']"
 "['5562', '5597', '5583', '1764']" "['5562', '5589', '5576', '1703']"
 "['5562', '5632', '5546', '1345']" "['5562', '5632', '5647', '1361']"
 "['5562', '5633', '5681', '1633']" "['5562', '5630', '5592', '1307']"
 "['5562', '5632', '5577', '1337']" "['5562', '5558', '5559', '1100']"
 "['4', '28', '44', '493']" '[None]' "['5562', '5558', '5561', '1631']"
 "['5562', '5633', '5704', '1284']" "['5562', '5633', '5704', '1365']"
 "['5562', '5589', '5686', '1675']" "['5562', '5633', '5681', '1838']"
 "['5562', '5632', '5564', '1310']" "['5562', '5597', '5642', '883']"
 "['5562', '5634', '5705', '1850']" "['5562', '5597', '5614', '1688']"
 "['4', '28', '44', '494']" "['4', '29', '314', '1398']"
 "['4', '28', '44', '1097']" "['5562', '5558', '5711', '1128']"
 "['5562', '5558', '5684', '1104']" "['5562', '5683', '5676', '1005']"
 "['5562', '5683', '5662', '559']" "['5562', '5633', '5646', '765']"
 "['5562', '5683', '5695', '1020']" "['5562', '5632', '5638', '1339']"
 "['4', '29', '311', '5797']" "['5562', '5683', '5695', '1016']"
 "['5562', '5589', '5661', '1810']" "['5562', '5633', '5625', '718']"
 "['5562', '5597', '5642', '1221']" "['5562', '5589', '5563', '1735']"
 "['5562', '5683', '5703', '5857']" "['5562', '5634', '5645', '632']"
 "['5562', '5589', '5686', '1678']" "['5562', '5634', '5663', '708']"
 "['4', '27', '186', '526']" "['5562', '5589', '5610', '1638']"
 "['5562', '5634', '5551', '769']" "['4', '27', '278', '473']"
 "['4', '27', '353', '1800']" "['5562', '5589', '5610', '1664']"
 "['5562', '5632', '5577', '850']" "['5562', '5634', '5568', '1351']"
 "['5562', '5589', '5576', '1706']" "['5562', '5589', '5613', '1726']"
 "['5562', '5589', '5613', '1722']" "['5562', '5589', '5563', '1733']"
 "['5562', '5599', '5539', '1078']" "['5562', '5597', '5696', '5754']"
 "['5562', '5558', '5590', '1055']" "['5562', '5597', '5642', '1219']"
 "['5562', '5597', '5642', '1224']" "['5562', '5589', '5686', '1672']"
 "['5562', '5599', '5602', '1115']" "['5562', '5536', '5658', '725']"
 "['5562', '5599', '5602', '1116']" "['5562', '5589', '5605', '1712']"
 "['2', '18', '248', '677']" "['4', '28', '44', '1564']"
 "['5562', '5597', '5691', '889']" "['5562', '5631', '5549', '1303']"
 "['5562', '5683', '5662', '1003']" "['4', '27', '353', '1610']"
 "['5562', '5589', '5610', '1660']" "['5562', '5597', '5642', '1215']"
 "['5562', '5597', '5614', '5740']" "['5562', '5632', '5598', '1336']"
 "['5562', '5589', '5610', '1661']" "['5562', '5634', '5626', '959']"
 "['5562', '5589', '5624', '1698']" "['5562', '5558', '5655', '1787']"
 "['5562', '5589', '5686', '1667']" "['5562', '5634', '5663', '799']"
 "['4', '27', '84', '1382']" "['5562', '5683', '5698', '991']"
 "['5562', '5536', '5658', '1302']" '[]' "['4', '29', '313', '5798']"
 "['5562', '5589', '5588', '1001']" "['5562', '5599', '5539', '1077']"
 "['5562', '5536', '5535', '1563']" "['5562', '5633', '5646', '937']"
 "['1', '22', '50', '685']" "['5562', '5589', '5686', '1669']"
 "['5562', '5633', '5704', '1285']" "['5562', '5597', '5637', '896']"
 "['5562', '5536', '5707', '1173']" "['5562', '5633', '5704', '923']"
 "['5562', '5597', '5642', '882']" "['5562', '5597', '5637', '890']"
 "['5562', '5633', '5545', '707']" "['5562', '5697', '5651', '1153']"
 "['5562', '5589', '5686', '1674']" "['4', '1822', '1824', '1626']"
 "['5562', '5633', '5550', '690']" "['5562', '5683', '5668', '986']"
 "['5562', '5683', '5668', '992']" "['5562', '5633', '5567', '640']"
 "['5562', '5634', '5672', '961']" "['4', '27', '138', '1355']"
 "['4', '29', '310', '1577']" "['5562', '5634', '5663', '806']"
 "['5562', '5536', '5685', '651']" "['5562', '5589', '5613', '1720']"
 "['5562', '5597', '5642', '1222']" "['5562', '5632', '5552', '1257']"
 "['5562', '5589', '5588', '1781']" "['5562', '5597', '5696', '895']"
 "['5562', '5632', '5564', '1287']" "['5562', '5632', '5706', '1347']"
 "['4', '28', '44', '492']" "['5562', '5589', '5613', '1717']"
 "['5562', '5634', '5568', '589']" "['5562', '5589', '5623', '1775']"
 "['5562', '5558', '5560', '1110']" "['5562', '5633', '5701', '767']"
 "['5562', '5632', '5647', '1288']" "['5562', '5634', '5705', '1276']"
 "['5562', '5536', '5581', '933']" "['5562', '5634', '5672', '1273']"
 "['5562', '5632', '5598', '968']" "['5562', '5558', '5620', '1791']"
 "['5562', '5558', '5655', '1146']" "['4', '27', '1828', '1612']"
 "['4', '29', '311', '1575']" "['4', '27', '1828', '5803']"
 "['5562', '5558', '5582', '1111']" "['5562', '5634', '5682', '1634']"
 "['5562', '5597', '5696', '892']" "['5562', '5597', '5642', '901']"
 "['5562', '5633', '5567', '1286']" "['5562', '5683', '5679', '988']"
 "['5562', '5589', '5588', '994']" "['5562', '5536', '5535', '1573']"
 "['4', '1822', '38', '482']" "['4', '1822', '38', '479']"
 "['4', '1822', '38', '480']" "['4', '1822', '5985', '476']"
 "['4', '1822', '38', '478']" "['4', '1822', '5985', '645']"
 "['5562', '5589', '5613', '1727']" "['5562', '5536', '5829', '1679']"
 "['5562', '5589', '5623', '1772']" "['5562', '5589', '5624', '1690']"
 "['2', '17', '286', '455']" "['5562', '5633', '5625', '1383']"
 "['5562', '5633', '5569', '940']" "['5562', '5634', '5551', '1258']"
 "['5562', '5683', '5572', '1011']" "['5562', '5597', '5691', '888']"
 "['5562', '5630', '5548', '1830']" "['5562', '5558', '5617', '1102']"
 "['5562', '5632', '5657', '972']" "['5562', '5597', '5696', '5529']"
 "['5562', '5633', '5704', '600']" "['5562', '5597', '5696', '751']"
 "['5562', '5597', '5614', '919']" "['5562', '5597', '5642', '5520']"
 "['5562', '5589', '5584', '1784']" "['5562', '5589', '5613', '1716']"
 "['5562', '5597', '5642', '899']" "['5562', '5633', '5567', '590']"
 "['4', '28', '44', '528']" "['4', '1822', '1824', '1619']"
 "['5562', '5589', '5610', '1663']" "['5562', '5589', '5686', '1677']"
 "['5562', '5597', '5596', '1428']" "['5562', '5632', '5552', '1298']"
 "['5562', '5633', '5708', '935']" "['4', '27', '350', '1589']"
 "['5562', '5632', '5552', '855']" "['5562', '5632', '5639', '1629']"
 "['5562', '5633', '5646', '1364']" "['5562', '5634', '5705', '1274']"
 "['4', '31', '324', '5813']" "['4', '1822', '38', '481']"
 "['5562', '5597', '5642', '885']" "['5562', '5597', '5642', '886']"

**<span style='color:green'>Мини вывод:</span>**

- Есть постояные однотипные заказы
- Есть уникальные заказы

**Задача 3.1.5. Работа с дублями**

In [25]:
# Удаление дублей
ap = ap.drop_duplicates()

In [26]:
text = 'Количество полных дублированых строк в дата фрейме'
print(f'{text} = {ap.duplicated().sum()}')

Количество полных дублированых строк в дата фрейме = 0

In [27]:
# Показываю информацию о дата сете
primary_information_output(ap)

<class 'pandas.core.frame.DataFrame'>
Index: 129188 entries, 0 to 202207
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     129188 non-null  int64
 1   quantity      129188 non-null  int64
 2   price         129188 non-null  float64
 3   category_ids  129188 non-null  object
 4   date          129188 non-null  datetime64[ns]
 5   message_id    129188 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 6.9+ MB
Количество пропущеных значений:

client_id       0
quantity        0
price           0
category_ids    0
date            0
message_id      0
dtype: int64

Количество полных дублированых строк в дата фрейме = 0

,client_id,quantity,price,category_ids,date,message_id
0,1515915625468169594,1,"1,999.00","['4', '28', '57', '431']",2022-05-16,1515915625468169594-4301-627b661e9736d
1,1515915625468169594,1,"2,499.00","['4', '28', '57', '431']",2022-05-16,1515915625468169594-4301-627b661e9736d
2,1515915625471138230,1,"6,499.00","['4', '28', '57', '431']",2022-05-16,1515915625471138230-4437-6282242f27843
3,1515915625471138230,1,"4,999.00","['4', '28', '244', '432']",2022-05-16,1515915625471138230-4437-6282242f27843
4,1515915625471138230,1,"4,999.00","['4', '28', '49', '413']",2022-05-16,1515915625471138230-4437-6282242f27843

**Задача 3.2.1. Получение информации о датафрейме <span style='color:red'>am</span>**

In [28]:
# Показываю информацию о дата сете
primary_information_output(am)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12739798 entries, 0 to 12739797
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   bulk_campaign_id  int64
 1   client_id         int64
 2   message_id        object
 3   event             object
 4   channel           object
 5   date              datetime64[ns]
 6   created_at        datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 680.4+ MB
Количество пропущеных значений:

bulk_campaign_id    0
client_id           0
message_id          0
event               0
channel             0
date                0
created_at          0
dtype: int64

Количество полных дублированых строк в дата фрейме = 48610

,bulk_campaign_id,client_id,message_id,event,channel,date,created_at
0,4439,1515915625626736623,1515915625626736623-4439-6283415ac07ea,open,email,2022-05-19,2022-05-19 00:14:20
1,4439,1515915625490086521,1515915625490086521-4439-62834150016dd,open,email,2022-05-19,2022-05-19 00:39:34
2,4439,1515915625553578558,1515915625553578558-4439-6283415b36b4f,open,email,2022-05-19,2022-05-19 00:51:49
3,4439,1515915625553578558,1515915625553578558-4439-6283415b36b4f,click,email,2022-05-19,2022-05-19 00:52:20
4,4439,1515915625471518311,1515915625471518311-4439-628341570c133,open,email,2022-05-19,2022-05-19 00:56:52

**Задача 3.2.2. Анализ временых данных**

In [29]:
# Проверка что хранится в ячейках
am[['date', 'created_at']].describe()

                                date                     created_at
count                       12739798                       12739798
mean   2023-06-05 02:46:08.357990400  2023-06-05 13:58:11.168689408
min              2022-05-19 00:00:00            2022-05-19 00:14:20
25%              2022-12-19 00:00:00            2022-12-19 12:46:30
50%              2023-07-20 00:00:00            2023-07-20 17:21:54
75%              2023-11-21 00:00:00            2023-11-21 18:13:05
max              2024-02-15 00:00:00            2024-02-15 23:58:40

**<span style='color:green'>Мини вывод:</span>**

-  Период данных с `2022.05.19` по `2024.02.15`

**Задача 3.2.3. Анализ количественные данные**

In [30]:
# Вывод основныхз показателей количественных данных
table_describe_quantitative_values(am)

       bulk_campaign_id                    client_id
count     12,739,798.00                12,739,798.00
mean          11,604.59 1,515,915,625,574,831,616.00
std            3,259.21               132,970,411.56
min              548.00 1,515,915,625,468,060,928.00
25%            8,746.00 1,515,915,625,489,149,440.00
50%           13,516.00 1,515,915,625,503,432,192.00
75%           14,158.00 1,515,915,625,591,286,272.00
max           14,657.00 1,515,915,626,010,288,640.00

**<span style='color:green'>Мини вывод:</span>**

- Особой информации нет

**Задача 3.2.4. Анализ категориальных данных**

In [31]:
# Вывод уникальных значений категориальных признаков
list_unique_values_categorical_features(am)

-Категория:------------------------------------------------
                       <message_id>
-----------------------------------------------------------
- Уникальные значения категории:
['1515915625626736623-4439-6283415ac07ea'
 '1515915625490086521-4439-62834150016dd'
 '1515915625553578558-4439-6283415b36b4f' ...
 '1515915625490988866-14656-65ce97f929ca4'
 '1515915625617022616-14656-65ce97f9299fe'
 '1515915625491736359-14656-65ce97f92a3fd']
- Количество значений по уникальности в категории:
message_id
1515915625489095763-6251-6311b13a4cf78     1454
1515915625490241385-6973-633edf70723d8      438
1515915625490540122-6973-633edf707840d      438
1515915625629509124-6374-63241bd1541d5      293
1515915625488270582-3433-6232d6007e929      254
                                           ...
1515915625809110846-14656-65cdd2fc87615       1
1515915625559015108-14656-65cdd2fc87d74       1
1515915625836904835-14656-65cdd2fc87dc4       1
1515915625488145633-14656-65cdd2fc88b4a       1
1515915625487909583-14656-65cdd2fc890f0       1
Name: count, Length: 9061667, dtype: int64
-----------------------------------------------------------
-Категория:------------------------------------------------
                       <event>
-----------------------------------------------------------
- Уникальные значения категории:
['open' 'click' 'purchase' 'send' 'unsubscribe' 'hbq_spam' 'hard_bounce'
 'subscribe' 'soft_bounce' 'complain' 'close']
- Количество значений по уникальности в категории:
event
send           9058196
open           3085820
click           496339
purchase         64679
hard_bounce      19903
soft_bounce      10583
unsubscribe       2841
hbq_spam           823
complain           528
subscribe           85
close                1
Name: count, dtype: int64
-----------------------------------------------------------
-Категория:------------------------------------------------
                       <channel>
-----------------------------------------------------------
- Уникальные значения категории:
['email' 'mobile_push']
- Количество значений по уникальности в категории:
channel
mobile_push    7512156
email          5227642
Name: count, dtype: int64
-----------------------------------------------------------

**<span style='color:green'>Мини вывод:</span>**

- Унакальные значения нет замечаний
- Есть разброс по значениям в `event` и `channel`

**Задача 3.2.5. Работа с дублями**

In [32]:
# Удаление дублей
am = am.drop_duplicates()

In [33]:
text = 'Количество полных дублированых строк в дата фрейме'
print(f'{text} = {am.duplicated().sum()}')

Количество полных дублированых строк в дата фрейме = 0

**Задача 3.3.1. Получение информации о датафрейме <span style='color:red'>atb</span>**

In [34]:
# Показываю информацию о дата сете
primary_information_output(atb)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49849 entries, 0 to 49848
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  49849 non-null  int64
 1   target     49849 non-null  int64
dtypes: int64(2)
memory usage: 779.0 KB
Количество пропущеных значений:

client_id    0
target       0
dtype: int64

Количество полных дублированых строк в дата фрейме = 0

             client_id  target
0  1515915625468060902       0
1  1515915625468061003       1
2  1515915625468061099       0
3  1515915625468061100       0
4  1515915625468061170       0

**Задача 3.3.2. Меняем тип данных**

In [35]:
# Меняем тип наддых
atb = atb.astype({'target': 'bool'})

**Задача 3.3.3. Анализ категориальных данных**

In [36]:
# Вывод уникальных значений категориальных признаков
list_unique_values_categorical_features(atb)

-Категория:------------------------------------------------
                       <target>
-----------------------------------------------------------
- Уникальные значения категории:
[False  True]
- Количество значений по уникальности в категории:
target
False    48888
True       961
Name: count, dtype: int64
-----------------------------------------------------------

**<span style='color:green'>Мини вывод:</span>**

- False очень много получается лучше предскажит что нет чем да совершит покупку в 90 дней
- Нужно будет применить технологию `Bootstrap` с другими

**Задача 3.4.1. Получение информации о датафрейме <span style='color:red'>de</span>**

In [37]:
# Показываю информацию о дата сете
primary_information_output(de)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131072 entries, 0 to 131071
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   date                 131072 non-null  datetime64[ns]
 1   bulk_campaign_id     131072 non-null  int64
 2   count_click          131072 non-null  int64
 3   count_complain       131072 non-null  int64
 4   count_hard_bounce    131072 non-null  int64
 5   count_open           131072 non-null  int64
 6   count_purchase       131072 non-null  int64
 7   count_send           131072 non-null  int64
 8   count_soft_bounce    131072 non-null  int64
 9   count_subscribe      131072 non-null  int64
 10  count_unsubscribe    131072 non-null  int64
 11  nunique_click        131072 non-null  int64
 12  nunique_complain     131072 non-null  int64
 13  nunique_hard_bounce  131072 non-null  int64
 14  nunique_open         131072 non-null  int64
 15  nunique_purchase     131072 non-null  int64
 16  nunique_send         131072 non-null  int64
 17  nunique_soft_bounce  131072 non-null  int64
 18  nunique_subscribe    131072 non-null  int64
 19  nunique_unsubscribe  131072 non-null  int64
 20  count_hbq_spam       131072 non-null  int64
 21  nunique_hbq_spam     131072 non-null  int64
 22  count_close          131072 non-null  int64
 23  nunique_close        131072 non-null  int64
dtypes: datetime64[ns](1), int64(23)
memory usage: 24.0 MB
Количество пропущеных значений:

date                   0
bulk_campaign_id       0
count_click            0
count_complain         0
count_hard_bounce      0
count_open             0
count_purchase         0
count_send             0
count_soft_bounce      0
count_subscribe        0
count_unsubscribe      0
nunique_click          0
nunique_complain       0
nunique_hard_bounce    0
nunique_open           0
nunique_purchase       0
nunique_send           0
nunique_soft_bounce    0
nunique_subscribe      0
nunique_unsubscribe    0
count_hbq_spam         0
nunique_hbq_spam       0
count_close            0
nunique_close          0
dtype: int64

Количество полных дублированых строк в дата фрейме = 0

,date,bulk_campaign_id,count_click,count_complain,count_hard_bounce,count_open,count_purchase,count_send,count_soft_bounce,count_subscribe,...,nunique_open,nunique_purchase,nunique_send,nunique_soft_bounce,nunique_subscribe,nunique_unsubscribe,count_hbq_spam,nunique_hbq_spam,count_close,nunique_close
0,2022-05-19,563,0,0,0,4,0,0,0,0,...,4,0,0,0,0,0,0,0,0,0
1,2022-05-19,577,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,2022-05-19,622,0,0,0,2,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
3,2022-05-19,634,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,2022-05-19,676,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

**Задача 3.4.2. Анализ временых данных**

In [38]:
# Проверка что хранится в ячейках
de[['date',]].describe()

                                date
count                         131072
mean   2023-05-11 18:39:38.320312576
min              2022-05-19 00:00:00
25%              2022-11-06 00:00:00
50%              2023-04-01 00:00:00
75%              2023-12-25 00:00:00
max              2024-05-15 00:00:00

**<span style='color:green'>Мини вывод:</span>**

-  Период данных с `2022.05.19` по `2024.05.15`

**Задача 3.4.3. Анализ количественные данные**

In [39]:
# Вывод основныхз показателей количественных данных
table_describe_quantitative_values(de)

,bulk_campaign_id,count_click,count_complain,count_hard_bounce,count_open,count_purchase,count_send,count_soft_bounce,count_subscribe,count_unsubscribe,...,nunique_open,nunique_purchase,nunique_send,nunique_soft_bounce,nunique_subscribe,nunique_unsubscribe,count_hbq_spam,nunique_hbq_spam,count_close,nunique_close
count,"131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00",...,"131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00"
mean,"8,416.74",90.98,0.93,78.47,"3,771.09",0.58,"11,634.14",27.81,0.14,6.36,...,"3,683.00",0.47,"11,537.16",27.57,0.13,5.96,0.81,0.81,0.00,0.00
std,"4,877.37","1,275.50",30.20,"1,961.32","65,160.67",9.11,"175,709.51",736.94,2.07,79.17,...,"62,586.47",7.13,"172,700.49",734.05,1.98,73.28,183.30,183.30,0.00,0.00
min,548.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"4,116.00",0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,"7,477.00",0.00,0.00,0.00,6.00,0.00,0.00,0.00,0.00,0.00,...,6.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,"13,732.00",2.00,0.00,0.00,30.00,0.00,0.00,0.00,0.00,1.00,...,30.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
max,"15,150.00","128,453.00","5,160.00","287,404.00","5,076,151.00","1,077.00","11,543,513.00","76,284.00",189.00,"9,089.00",...,"2,922,440.00",779.00,"7,094,600.00","76,281.00",177.00,"8,299.00","63,920.00","63,920.00",1.00,1.00

**<span style='color:green'>Мини вывод:</span>**

- Есть интересные показатели во собенности максимальных значений???
- Основные квартили в метах 25%, 50%, 75% проступают нули

**Задача 3.5.1. Получение информации о датафрейме <span style='color:red'>dec</span>**

In [40]:
# Показываю информацию о дата сете
primary_information_output(dec)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131072 entries, 0 to 131071
Data columns (total 36 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   date                             131072 non-null  datetime64[ns]
 1   bulk_campaign_id                 131072 non-null  int64
 2   count_click_email                131072 non-null  int64
 3   count_click_mobile_push          131072 non-null  int64
 4   count_open_email                 131072 non-null  int64
 5   count_open_mobile_push           131072 non-null  int64
 6   count_purchase_email             131072 non-null  int64
 7   count_purchase_mobile_push       131072 non-null  int64
 8   count_soft_bounce_email          131072 non-null  int64
 9   count_subscribe_email            131072 non-null  int64
 10  count_unsubscribe_email          131072 non-null  int64
 11  nunique_click_email              131072 non-null  int64
 12  nunique_click_mobile_push        131072 non-null  int64
 13  nunique_open_email               131072 non-null  int64
 14  nunique_open_mobile_push         131072 non-null  int64
 15  nunique_purchase_email           131072 non-null  int64
 16  nunique_purchase_mobile_push     131072 non-null  int64
 17  nunique_soft_bounce_email        131072 non-null  int64
 18  nunique_subscribe_email          131072 non-null  int64
 19  nunique_unsubscribe_email        131072 non-null  int64
 20  count_hard_bounce_mobile_push    131072 non-null  int64
 21  count_send_mobile_push           131072 non-null  int64
 22  nunique_hard_bounce_mobile_push  131072 non-null  int64
 23  nunique_send_mobile_push         131072 non-null  int64
 24  count_hard_bounce_email          131072 non-null  int64
 25  count_hbq_spam_email             131072 non-null  int64
 26  count_send_email                 131072 non-null  int64
 27  nunique_hard_bounce_email        131072 non-null  int64
 28  nunique_hbq_spam_email           131072 non-null  int64
 29  nunique_send_email               131072 non-null  int64
 30  count_soft_bounce_mobile_push    131072 non-null  int64
 31  nunique_soft_bounce_mobile_push  131072 non-null  int64
 32  count_complain_email             131072 non-null  int64
 33  nunique_complain_email           131072 non-null  int64
 34  count_close_mobile_push          131072 non-null  int64
 35  nunique_close_mobile_push        131072 non-null  int64
dtypes: datetime64[ns](1), int64(35)
memory usage: 36.0 MB
Количество пропущеных значений:

date                               0
bulk_campaign_id                   0
count_click_email                  0
count_click_mobile_push            0
count_open_email                   0
count_open_mobile_push             0
count_purchase_email               0
count_purchase_mobile_push         0
count_soft_bounce_email            0
count_subscribe_email              0
count_unsubscribe_email            0
nunique_click_email                0
nunique_click_mobile_push          0
nunique_open_email                 0
nunique_open_mobile_push           0
nunique_purchase_email             0
nunique_purchase_mobile_push       0
nunique_soft_bounce_email          0
nunique_subscribe_email            0
nunique_unsubscribe_email          0
count_hard_bounce_mobile_push      0
count_send_mobile_push             0
nunique_hard_bounce_mobile_push    0
nunique_send_mobile_push           0
count_hard_bounce_email            0
count_hbq_spam_email               0
count_send_email                   0
nunique_hard_bounce_email          0
nunique_hbq_spam_email             0
nunique_send_email                 0
count_soft_bounce_mobile_push      0
nunique_soft_bounce_mobile_push    0
count_complain_email               0
nunique_complain_email             0
count_close_mobile_push            0
nunique_close_mobile_push          0
dtype: int64

Количество полных дублированых строк в дата фрейме = 0

,date,bulk_campaign_id,count_click_email,count_click_mobile_push,count_open_email,count_open_mobile_push,count_purchase_email,count_purchase_mobile_push,count_soft_bounce_email,count_subscribe_email,...,count_send_email,nunique_hard_bounce_email,nunique_hbq_spam_email,nunique_send_email,count_soft_bounce_mobile_push,nunique_soft_bounce_mobile_push,count_complain_email,nunique_complain_email,count_close_mobile_push,nunique_close_mobile_push
0,2022-05-19,563,0,0,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2022-05-19,577,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2022-05-19,622,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2022-05-19,634,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2022-05-19,676,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Задача 3.5.2. Анализ временых данных**

In [41]:
# Проверка что хранится в ячейках
dec[['date',]].describe()

                                date
count                         131072
mean   2023-05-11 18:39:38.320312576
min              2022-05-19 00:00:00
25%              2022-11-06 00:00:00
50%              2023-04-01 00:00:00
75%              2023-12-25 00:00:00
max              2024-05-15 00:00:00

**<span style='color:green'>Мини вывод:</span>**

-  Период данных с `2022.05.19` по `2024.05.15`

**Задача 3.5.3. Анализ количественные данные**

In [42]:
# Вывод основныхз показателей количественных данных
table_describe_quantitative_values(dec)

,bulk_campaign_id,count_click_email,count_click_mobile_push,count_open_email,count_open_mobile_push,count_purchase_email,count_purchase_mobile_push,count_soft_bounce_email,count_subscribe_email,count_unsubscribe_email,...,count_send_email,nunique_hard_bounce_email,nunique_hbq_spam_email,nunique_send_email,count_soft_bounce_mobile_push,nunique_soft_bounce_mobile_push,count_complain_email,nunique_complain_email,count_close_mobile_push,nunique_close_mobile_push
count,"131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00",...,"131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00","131,072.00"
mean,"8,416.74",41.58,49.40,423.71,"3,347.38",0.36,0.22,24.47,0.14,6.36,...,"4,189.58",18.54,0.81,"4,186.90",3.33,3.31,0.93,0.92,0.00,0.00
std,"4,877.37",745.48,"1,036.95","9,753.38","64,448.59",8.29,3.80,727.07,2.07,79.17,...,"107,319.76","1,349.47",183.30,"107,261.80",120.92,120.09,30.20,29.72,0.00,0.00
min,548.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"4,116.00",0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,"7,477.00",0.00,0.00,5.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,"13,732.00",1.00,0.00,23.00,0.00,0.00,0.00,0.00,0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,"15,150.00","59,365.00","128,453.00","2,597,015.00","5,076,151.00","1,077.00",431.00,"76,284.00",189.00,"9,089.00",...,"7,094,600.00","287,341.00","63,920.00","7,094,600.00","21,831.00","21,389.00","5,160.00","5,043.00",1.00,1.00

**<span style='color:green'>Мини вывод:</span>**

- Есть интересные показатели во собенности максимальных значений???
- Основные квартили в метах 25%, 50%, 75% проступают нули

**<span style='color:Purple'>Вывод шага:</span>**

- У таргета значения сильно большая раздница в значениях также и у стальных категориальных данных
- По полю даты разнятся в разных вреймах
- Есть интересные показатели во собенности максимальных значений? в варфреймах `de` и `dec`
- Основные квартили в метах 25%, 50%, 75% проступают нули в варфреймах `de` и `dec`
- Нужно будет применить технологию `Bootstrap` с другими
- Покупки в основном купленые по штуке
- Товар за `1рубль` Странно это ??? 1) Возможно скидка 2) Специальное выграшное предложение 3) Возможно ошибка
- Есть постояные однотипные заказы
- Есть уникальные заказы
- Были удалены дубли

## <span style='color:Blue'> Шаг. Исследовательский анализ данных</span>